html {
	font-size: 125%;
	line-height: 1.4;
}


h2 {
	font-size: 2em;
}

h2, p {
	margin: 0;
}

	p + * {
		margin-top: 1em;
	}

	h2 + p {
		margin-top: 1em;
	}


.input {
	display: flex;
	align-items: center;
}


input {
	width: 100%;
	font: inherit;
	padding: 0.25em 0.5em;
	border: 0.125em solid hsl(30, 76%, 10%);
	outline: none;
}






.wrapper {
	/*This part is important for centering*/
	display: grid;
	place-items: center;
	grid-gap: 50px;
}

.typing-demo {
	width: 100%;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	font-family: monospace;
	font-size: 2em;
	outline: none; /* Add this line to remove the default text cursor */
	pointer-events: none; /* Disable pointer events on the pseudo-element */
}

@keyframes typing {
	from {
		width: 0
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}