@page "/finite-field"

<select @onchange="SelectedMethod">
    <option value=23>2&3. Додавання, віднімання, множення чисел. Знаходження оберненого елемента.</option>
    <option value="4">4. Швидке піднесення у степінь</option>
    <option value="5">5. Розклад числа на множники</option>
    <option value="6">6. Обчислення квадратного кореня</option>
    <option value="7">7. Обчислення дискретного логарифму</option>
    <option value="8">8. Знаходження порядку елемента групи</option>
    <option value="9">9. Знаходження функції Ейлера від заданого числа та функції Кармайкла від заданого числа</option>
    <option value="10">10. Ймовірнісна перевірка числа на простоту</option>
</select>

<p>
    Номер обраного методу:  @selected
</p>


@code {
    public int selected { get; set; } = -1;

    private void SelectedMethod(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            selected = (int)e.Value;
        }
    }
}











@*//@page "/polinomial-field"
//@using System.Threading.Tasks
//@using System.Runtime.InteropServices

//<h1>Blazor App with wasm module</h1>

//<p>Enter two numbers to add:</ p >
//< input type = "text" @bind - value = "@number1" />
//< input type = "text" @bind - value = "@number2" />
//< button @onclick = "AddNumbers" > Add </ button >

//@if(!string.IsNullOrEmpty(result))
//{
//    < p > The sum is @result </ p >
//}

//@code {
//    private string number1;
//private string number2;
//private string result;

//[DllImport("addition")]
//private static extern byte addition(string a, string b);

//private async Task AddNumbers()
//{
//    var a = Marshal.StringToHGlobalAnsi(number1);
//    var b = Marshal.StringToHGlobalAnsi(number2);

//    try
//    {
//        var resultPtr = addition(Marshal.PtrToStringAnsi(a), Marshal.PtrToStringAnsi(b));
//        result = Marshal.PtrToStringAnsi(resultPtr);
//    }
//    finally
//    {
//        Marshal.FreeHGlobal(a);
//        Marshal.FreeHGlobal(b);
//    }
//}
//}*@