@page "/"
<style>
    html {
        font-size: 125%;
        line-height: 1.4;
    }
    body {
        background: linear-gradient(to right, #4e006e, #020085);
        color: floralwhite;
    }
</style>

<PageTitle>AlgebraWASM</PageTitle>

<h1>Hello, world!</h1>

Welcome to algebra-group-project!

<div class="alert alert-secondary mt-4">
    The AlgebraWASM is an ambitious project that seeks to revolutionize the way we access and interact with information.
    Its primary objective is to develop a comprehensive and intelligent system that can effectively replace existing knowledge platforms such as Wolfram Alpha.
    By leveraging cutting-edge technologies, the AlgebraWASM aims to surpass the capabilities of its predecessors, offering users an unparalleled level of knowledge and assistance.

    <strong><br />P.S. UI and API-wrapper were made at the latest moment and took 2 sleepless nights of work, so there may be a bunch of errors.<br /> We have fixed all that we could find and had time for it :)</strong>
</div>

