@page "/"
<style>
    html {
        font-size: 125%;
        line-height: 1.4;
    }
    body {
        background: linear-gradient(to right, #4e006e, #020085);
        color: floralwhite;
    }
</style>

<PageTitle>AlgebraWASM</PageTitle>

<h1>Hello, world!</h1>

Welcome to algebra-group-project!

<SurveyPrompt Title="How is Blazor working for you?" />

