@page "/polinomial-field"
<select @onchange="SelectedMethod">
	<option value="">--Оберіть метод--</option>
    <option value="15">15. Розклад кругового многочлена на незвідні.</option>
    <option value="16">16. Знаходження К незвібних многочленів.</option>
    <option value="17">17. Перевірка чи є многочлен незвідним.</option>
    <option value="18">18. Додавання, віднімання, множення двох многочленів. Нормування. Швидке піднесення у степінь.</option>
    <option value="19">19. Знаходження оберненого многочлена (алгоритм Евкліда).</option>
    <option value="20">20. Знаходження порядку незвідного многочлена.</option>
    
</select>

@switch (selected)
{
	case "15":
		break;
	case "16":
		break;
	case "17":
		break;
	case "18":
		break;
	case "19":
		break;
	case "20":
		break;
	default:
		break;
}


@code {
	public string coefModule { get; set; } = "";

	public string firstInputBox { get; set; } = "";
	public string secondInputBox { get; set; } = "";
	public string selected { get; set; } = "";

	private void SelectedMethod(ChangeEventArgs e)
	{
		if (!string.IsNullOrWhiteSpace((string)e.Value))
		{
			selected = (string)e.Value;
		}
	}
}
